  spring:
   datasource:
    url: jdbc:postgresql://localhost:5432/shop
    username: julia
    password: '000'
    driver-class-name: org.postgresql.Driver
    hikari:
     auto-commit: false
     idle-timeout: 600000
     connection-timeout: 30000
     max-lifetime: 1800000

   jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

   thymeleaf:
     check-template: true
     prefix: classpath:/templates/
     suffix: .html
     mode: HTML5
     encoding: UTF-8
     content-type: text/html
     cache: false

     servlet:
      multipart:
        max-request-size: 100MB
        max-file-size: 100MB
        file-size-threshold: 10MB
        enabled: true
   mail:
    host: smtp.gmail.com
    port: 587
    username: semykinayuliia@gmail.com
    password: dgudwdemrrdmhuvo
    protocol: smtp
    auth: true
    starttls: true




  #   flyway:
#     baseline-on-migrate: true
#     locations: classpath:db/migration
#     enabled: true
#     sql-migration-prefix: V
#     default-schema: public
#     init-version:
#     init-sqls:


 #     # INTERNATIONALIZATION (MessageSourceAutoConfiguration)
 #     spring.messages.cache-seconds=-1
# messages:
#    basename: messages
#    encoding: UTF-8
#


#     spring.mail.host=smtp.acme.org # mail server host
#     spring.mail.port= # mail server port
#     spring.mail.username=
#     spring.mail.password=
#     spring.mail.default-encoding=UTF-8 # encoding to use for MimeMessages
#     spring.mail.properties.*= # properties to set on the JavaMail session


