<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head_content">
  <meta charset="UTF-8">
  <link rel='stylesheet' th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />




<link rel="stylesheet" href="/Bootstrap-4-4.6.0/css/bootstrap.min.css">
  <link href="/DataTables-1.13.4/css/jquery.dataTables.min.css">

  <script src="/jQuery-3.6.0/jquery-3.6.0.min.js"></script>
  <script src="/Bootstrap-4-4.6.0/js/bootstrap.min.js"></script>
  <script src="/DataTables-1.13.4/js/jquery.dataTables.min.js"></script>

  <script src="https://kit.fontawesome.com/ac3bcbb247.js" crossorigin="anonymous"></script>
  <script type="text/javascript"  th:src="@{/javascript/javascript.js}"></script>
</head>
<body>

</body>
</html>