<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{/fragments/header :: head_content}">
    <title>Products</title>
</head>
<body>
<div class="main-add_product"><header th:replace="~{index :: index_header}"></header>
<div class="add_product">
    <div class="side-add_product"><aside th:replace="~{index :: aside}"></aside></div>

<div class="add_product-body">
    <div class="col-12">

        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">

            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link font-weight-bold" th:href="@{/add_product}">Add Product</a></li>
                <li class="nav-item"><a class="nav-link font-weight-bold" th:href="@{/services}">List of Product</a></li>
            </ul>
        </nav>
    </div>
</div>
<h3 class="text-center">Add of products</h3>
<hr>

<form name="productForm" th:action="@{/add_product}" th:object="${product}" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="name">Product title</label>
        <input type="text"  th:field="*{title}" name="title" id="name" class="form-control" placeholder="Enter the title" required>

        <label for="name">Product price</label>
        <input type="text" th:field="*{price}" name="price" id="price" class="form-control" placeholder="Enter the price" required>

        <label for="name">Product description</label>
        <input type="text" th:field="*{description}" name="description" id="description" class="form-control" placeholder="Enter description" required>

        <label for="name">Product quantity</label>
        <input type="number" th:field="*{quantity}" name="quantity" id="quantity" class="form-control" placeholder="Enter the quantity" required>

        <label for="name">Product image</label>
        <div class="custom-file">
            <input th:field="*{image}" accept="image/jpg, image/jpeg" name="image" type="file" class="custom-file-input" id="customFile" required>
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>

<footer class="footer-add_product" th:replace="~{index :: footer}"></footer>
</div>
</body>
</html>