<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{/fragments/header :: head_content}">
    <title>Client list</title>
</head>
<body>
<header th:replace="~{index :: header}"></header>
<aside th:replace="~{index :: aside}"></aside>
<div class="clients-body">
  <table id="clients-table" class="display" style="width: 100%">
    <thead>
    <tr>
        <th>Client_name</th>
        <th>Email_address</th>
        <th>Role</th>
        <th>City</th>
        <th>Phone Number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text ="${user.name}">Client_name</td>
        <td th:text ="${user.email}">Client_email</td>
        <td th:text ="${user.role}">Client_role</td>
        <td th:text ="${user.city}">Client_role</td>
        <td th:text ="${user.phoneNumber}">Client_phoneNumber</td>
    </tr>
    </tbody>
  </table>
</div>
<script>
    $(document).ready(function () {
        $('#clients-table').DataTable();
    });
</script>
</body>
</html>