<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<article id="home-paige" class="content">

    <div class="box-1">
        <div class="card-text-bg">
            <a href="#" class="card-title-img">
                <img src="./images/atractive.jpg" class="card-title-img" alt="main banner" style="width:80%">
            </a>
            <div class="card-image-overlay">
                <h5 class="main-card-title">Get a jump on joy</h5>
                <p>Shop gifts for everyone on your list</p>
            </div>
        </div>
    </div>

    <div class="box">

        <div class="box-2">
            <div class="card">
                <div class="card-body">
                    <a th:href="@{/catalogue}" class="card-img">

                        <img src="./images/sale.jpg" class="card-img-top" alt="advice">

                    </a>

                    <h5 class="card-title">Today on sale</h5>
                    <a th:href="@{/catalogue}"  class="card-text">Deals are here</a>
                    <div class="btn-card">
                        <button class="btn-basket" onclick=""><a th:href="@{/catalogue}">Go to</a></button>
                    </div>

                </div>
            </div>
        </div>

        <div class="box-3">
            <div class="card">
                <div class="card-body">
                    <a th:href="@{/catalogue}"  class="card-img">

                        <img src="./images/box1.webp" class="card-img-top" alt="advice">

                    </a>

                    <h5 class="card-title">New arrivals</h5>
                    <a th:href="@{/catalogue}"  class="card-text">Discover our new products</a>
                    <div class="btn-card">
                        <button class="btn-basket" onclick=""><a th:href="@{/catalogue}">Go to</a></button>
                    </div>

                </div>
            </div>
        </div>

        <div class="box-4">
            <div class="card">
                <div class="card-body">
                    <a th:href="@{/sign_up}"  class="card-img">

                        <img src="./images/box.webp" class="card-img-top" alt="advice">

                    </a>

                    <h5 class="card-title">Sing in securely</h5>
                    <a th:href="@{/sign_up}" class="card-text">Sing in for the best experience</a>
                    <div class="btn-card">
                        <button class="btn-basket"  onclick=""><a th:href="@{/sign_up}">Go to</a></button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</article>

</body>
</html>