<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{/fragments/header :: head_content}">
    <title>Login</title>
</head>
<body>
<header th:replace="~{index :: header}"></header>
<!--<p style="color:darkred" th:if="${loginError}" class="error">Wrong email or password</p>-->

<form action="login" name="loginForm" method="post" style="border:1px solid #ccc">
    <div class="flex-login">
        <h1>Login</h1>
        <hr>
        <label for="eml"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" id="eml" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" id="psw" name="password"  required>

<!--        <label>-->
<!--            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me-->
<!--        </label>-->

        <div class="login-clearfix">
            <button type="submit" name="submit" value="Login" class="login-btn">Login</button>
        </div>
    </div>
</form>
<div class="login-footer">
        <a class="login-forgot" href="#">Forgot Password?</a>
        <div class="login-wrapper">
            <a th:href="@{/sign_up}">Don't have an account? <span class="login-text-primary">Create One</span></a>
        </div>
</div>
</body>
</html>