<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{/fragments/header :: head_content}">
    <title>Order</title>
</head>
<body>
<div class="parent-add_product"><header th:replace="~{index :: index_header}"></header>
    <div class="main-add_product">
        <div class="side-add_product"><aside th:replace="~{index :: aside}"></aside></div>

        <div class="order-container">
            <div class="text alert alert-warning" th:if = "${error}">
                <p th:text="${error}"></p>
            </div>

            <div class="title">
                <h2> Your Order</h2>
            </div>
            <div class="d-flex">
                <form th:action="@{/order-info}" method="post" th:object="${user}">
                    <label for="username">
                        <span class="fname"> Name <span class="required"> * </span></span>
                        <input type="text"  th:field="*{name}" name="name" id="username" required>
                    </label>

                    <label for="userCity">
                        <span class="fcity"> City <span class="required"> * </span></span>
                        <input type="text"  th:field="*{city}" name="city" id="userCity" required>
                    </label>

                    <label for="userAddress">
                        <span> Address <span class="required"> * </span></span>
                        <input type="text" th:field="*{address}" id="userAddress" name="address" placeholder="House number and street name" required>
                    </label>

                    <label for="userZip">
                        <span> Postcode / ZIP <span class="required">*</span></span>
                        <input type="text" th:field="*{zipCode}" id="userZip"  name="zipCode" required>
                    </label>

                    <label for="userPhoneNumber">
                        <span> Phone Number <span class="required">*</span></span>
                        <input type="tel" th:field="*{phoneNumber}" id="userPhoneNumber" name="phoneNumber" required>
                    </label>
                    <label for="userEmail">
                        <span> Email Address <span class="required">*</span></span>
                        <input type="email" th:field="*{email}" id="userEmail" name="email" required>
                    </label>
                    <button type="submit" class="cart-btn">Save</button>
                </form>

                <div class="order" >
                    <table>
                        <tr>
                            <th colspan="2"> Your order </th>
                        </tr>
                        <tr>
                            <div th:each="item : ${bucket.bucketItems}">
                            <td ><a th:href="@{/product_card}"
                                th:text="${item.product.title}"></a></td>
                            <td><div class="small text-muted">Price: $[[${item.product.price}]]</div></td>
                            </div>
                        </tr>
                        <tr>
                            <td> Subtotal </td>
                            <td><span class="text-medium">$[[${buckets.totalPrice}]]</span></td>
                        </tr>
                        <tr>
                            <td> Shipping </td>
                            <td> Free shipping </td>
                        </tr>
                    </table><br>
                    <div>
                        <input type="radio" name="dbt" value="Cash on Delivery"> Cash on Delivery
                    </div>

                    <div class="order-button"><a th:href="@{/text_box}" class="ml-auto btn hvr-hover">Place Order</a></div>

                </div>

            </div>
        </div>

    </div>
    <footer class="footer-add_product" th:replace="~{index :: footer}"></footer>
</div>

</body>
</html>