<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' th:href="@{/css/style.css}">
    <title>Title</title>
</head>
<body>
<div class="product-container">


  <div class="left-column">
    <img data-image="orange_bag" src="./images/orange_bag.jpg" alt="orange_bag" title="Leather bag with gold chain">
  </div>

  <div class="right-column">

    <div class="product-description">
      <span>Bags</span>
      <h1>Leather bag</h1>
      <p>Leather bag with gold chain</p>
    </div>

    <div class="product-price">
      <span>100$</span>
      <a href="/cart" class="cart-btn">Add to cart</a>
    </div>
  </div>

</div>
</body>
</html>