<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >

<head th:replace="~{/fragments/header :: head_content}">
     <title>Title</title>
</head>
<body>
<div class="service_product"><header th:replace="~{index :: index_header}"></header>
<div class="main-add_product">

    <div class="side-add_product"><aside th:replace="~{index :: aside}"></aside></div>

    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">

        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link font-weight-bold" th:href="@{/add_product}">Add Product</a></li>
            <li class="nav-item"><a class="nav-link font-weight-bold" th:href="@{/services}">List of Product</a></li>
        </ul>
    </nav>



<h3 class="text-center">List of products</h3>
<div class="products-body" id="products-list">
    <table id="products" class="edit-table" style="width: 80%;">
        <thead class="thead-light">
        <tr>
            <th th:scope="col">Product id</th>
            <th th:scope="col">Product title</th>
            <th th:scope="col">Product price</th>
            <th th:scope="col">Product description</th>
            <th th:scope="col">Product quantity</th>
            <th th:scope="col">Product image</th>
            <th th:scope="col">Edit product</th>
            <th th:scope="col">Delete product</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text ="${product.id}">Product id</td>
            <td th:text ="${product.title}">Product title</td>
            <td th:text ="${product.price}">Product_price</td>
            <td th:text ="${product.description}">Product_description</td>
            <td th:text ="${product.quantity}">Product_quantity</td>

            <td><img alt="Product_image" th:if="${product.image != null}" th:src="*{'data:images/jpg;base64,'+{product.image}}"
                     style="width: 100px; height: 100px;"></td>

           <td><a class="btn btn-primary Ebtn" th:href="@{/edit_product/{id}(id=${product.id})}">Edit</a></td>

            <td><a th:href="@{/delete_product/{id}(id=${product.id})}" class="btn btn-danger">delete</a> </td>
        </tr>
</tbody>
</table>

</div>
</div>
<footer class="footer-add_product" th:replace="~{index :: footer}"></footer>
</div>
<script>
    $(document).ready(function () {
        $('#products').DataTable();
    });
</script>
<script>
    $('#editModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>

</body>
</html>