<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{/fragments/header :: head_content}">
     <title>Title</title>
</head>
<body>
<div class="parent-add_product"><header th:replace="~{index :: index_header}"></header>
<div class="main-add_product">
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">

        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link font-weight-bold" th:href="@{/add_product}">Add Product</a></li>
            <li class="nav-item"><a class="nav-link font-weight-bold" th:href="@{/services}">List of Product</a></li>

        </ul>

    </nav>


    <div class="side-add_product"><aside th:replace="~{index :: aside}"></aside></div>


<div class="service-body">
    <div class="col-12">

    </div>
</div>
<h3 class="text-center">List of products</h3>
<div class="products-body" id="products-list">
    <table id="products" class="edit-table">
        <thead class="thead-light">
        <tr>
            <th th:scope="col">Product id</th>
            <th th:scope="col">Product title</th>
            <th th:scope="col">Product price</th>
            <th th:scope="col">Product description</th>
            <th th:scope="col">Product quantity</th>
            <th th:scope="col">Product image</th>
            <th th:scope="col">Edit product</th>
            <th th:scope="col">Delete product</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text ="${product.id}">Product id</td>
            <td th:text ="${product.title}">Product title</td>
            <td th:text ="${product.price}">Product_price</td>
            <td th:text ="${product.description}">Product_description</td>
            <td th:text ="${product.quantity}">Product_quantity</td>

            <td><img alt="Product_image" th:if="${product.image != null}" th:src="*{'data:images/jpg;base64,'+{product.image}}"
                     style="width: 100px; height: 100px;"></td>

           <td><button class="btn btn-primary Ebtn" th:href="@{/getOne/(id=${product.id})}">Edit</button></td>
<!--            <td><button data-target="editModal" class="btn btn-primary eBtn" >Edit</button></td>-->
            <td><a th:href="@{/delete_product/{id}(id=${product.id})}" class="btn btn-danger">delete</a> </td>
        </tr>
<div class="formModal">
    <form th:action="@{/edit_product}" enctype="multipart/form-data" th:object="${product}" method="post">
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">


            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="PId" class="col-form-label">Id</label>
                            <input type="text"  class="form-control" id="PId" name="id" >
                        </div>
                        <div class="form-group">
                            <label for="PTitle" class="col-form-label">Title</label>
                            <input type="text" class="form-control" id="PTitle" name="title"  value="">
                        </div>
                        <div class="form-group">
                            <label for="PPrice" class="col-form-label">Price</label>
                            <input type="number" class="form-control" id="PPrice" name="price" value="">
                        </div>
                        <div class="form-group">
                            <label for="PDescription" class="col-form-label">Description</label>
                            <input type="text" class="form-control" id="PDescription" name="description" value="">
                        </div>
                            <div class="form-group">
                                <label for="PQuantity" class="col-form-label">Quantity</label>
                                <input type="number" class="form-control" id="PQuantity" name="quantity" value="">
                            </div>
                            <div class="custom-file">
                                <label class="col-form-label" for="PImage">Image</label>
                                <br><input type="file" accept="image/jpg, image/jpeg" class="form-control" id="PImage" name="image" value="">
                            </div>
                    </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" value="save"/>
                                </div>
                </div>
            </div>
        </div>
            </form>

</div>
</tbody>
</table>

</div>
</div>
<footer class="footer-add_product" th:replace="~{index :: footer}"></footer>
</div>
<script>
    $(document).ready(function () {
        $('#products').DataTable();
    });
</script>
<script>
    $('#editModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>

</body>
</html>