<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{/fragments/header :: head_content}">
    <title>Statistics</title>
</head>
<body>
<header th:replace="~{index :: header}"></header>
<aside th:replace="~{index :: aside}"></aside>

<div class="statistics-body">
  <table id="statistics-table" class="display">
    <thead>
    <tr>
      <th>Order Id</th>
      <th>Order Creation Date</th>
      <th>Customer Address</th>
      <th>Order Status</th>
      <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
      <td th:text ="${order.id}">Order Id</td>
      <td th:text ="${order.created}">Order Creation Date</td>
      <td th:text ="${order.address}">Customer Address</td>
      <td th:text ="${order.status}">Order Status</td>
      <td th:text ="${order.totalPrice}">Total Price</td>
    </tr>
    </tbody>

</table>
</div>
<script>
  $(document).ready(function () {
  $('#statistics-table').DataTable();
});
</script>
</body>
</html>