<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' th:href="@{/css/style.css}">
    <title>Title</title>
</head>
<body>
<div class="statistics-body">
  <div>
    <table>
      <tr><th>Date</th><th>Total_sales</th><th>Product_name</th><th>Product_id</th><th>Selling_price</th></tr>

      <tr><td>01.01.2022</td><td>10</td><td>Leather bag with golden chain</td><td>00001</td><td>99.99$</td></tr>
      <tr><td>01.01.2022</td><td>5</td><td>Red purse</td><td>00002</td><td>49.99$</td></tr>

    </table>
  </div>

  <div class="statistics-btn">
    <a href="#" class="previous"> Previous</a>
    <a href="#" class="next">Next </a>
  </div>

</div>
</body>
</html>